# ignore everything
# anything after this line that starts with `!` will be whitelisted
*

# quick setup
!.setup.sh

# git
!.gitignore
!.gitignore-global

# vim config
!.vimrc
!.vim/
!.vim/.gitkeep
!.vim/settings/
!.vim/settings/**
!.vim/autoload/
!.vim/autoload/**

