# ignore everything
# anything after this line that starts with `!` will be whitelisted
*

# setup scripts
!.setup/
!.setup/**

# git
!.gitignore
!.gitignore-global
!.gitattributes
!.github/
!.github/**

# vim config
!.vimrc
!.vim/
!.vim/**

# config extensions
!.cext/
!.cext/**
