# ignore everything
# anything after this line that starts with `!` will be whitelisted
*

# quick setup
!setup.sh
!update.sh

# git
!.gitignore
!.gitignore-global
!.gitattributes

# vim config
!.vimrc
!.vim/
!.vim/.gitkeep
!.vim/autoload/
!.vim/autoload/**
!.vim/plugged/
!.vim/plugged/.gitignore
!.vim/settings/
!.vim/settings/**

